/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .guid-menu { 
        left: 12%; 
    }
    .first_guid_blk .rightFixedImg { 
        bottom: -7%;
        right: 0%;
        max-width: 400px; 
    }












}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .header-left .menu-area{
        display: none;
    }
    .hero-wrp { 
        top: -50px;
        max-width: 330px;
    }
    .hero-wrp h4 {
        font-size: 2.5rem;
    }
    
    .hero-wrp  h5 {
        font-size: 1.3rem;
    }
    .guid-menu {
        left: 8%;
    }
    
    .guid-menu li {
        padding: 0.5em 0 .5em 1em;
        font-size: .96rem;
    }
    .first_guid_blk .guid-blk h1 {
        font-size: 2.4rem; 
    }
    .first_guid_blk .guid-blk > ul {
        margin-top: 35px;
    }
    
    .first_guid_blk .guid-blk > ul li {
        margin-top: 15px;
        font-size: 1.1rem;
        line-height: 1em;
    }
    
    .first_guid_blk .rightFixedImg {
        bottom: -12%;
        right: 0;
        max-width: 610px;
        margin-right: -40%;
    }
    
    .second_guid_blk .guid-blk h1 {
        font-size: 2.5rem;
    }
    
    .guid-blk .steps {
        margin-top: 50px;
    }
    
    .guid-blk .steps .step {
        padding-right: 20px;
    }
    
    .step {}
    
    .guid-blk .steps .step h4 {
        font-size: 1.2rem;
    }
    
    .steps .step p {
        letter-spacing: .01em;
        font-size: .9rem;
    }
    
    .last_guid_blk .guid-blk h1 {
        font-size: 2.5rem;
    }
    
    .fsteps {
        margin-top: 35px;
    }
    
    .fsteps .fstep {
        margin-right: 30px;
    }
     
    .invc {
        margin-right: -50%;
    }
    .footer-widget {
        font-size: .9rem;
    }
    
    .ftg-links > ul {
        padding-right: 10px;
    }







}

 
/* small screen :320px. */
@media (max-width: 767px) {
    footer {
        padding: 50px 0 70px 0;
        font-size: .8rem;
    }
    
    .ftg-top {
        margin-top: 2em;
        border-radius: 0.5em;
        padding: 1em;
    }
    
    .ftg-top a > img {
        max-width: 70px;
        margin: 0 0 2em;
    }
    
    .ftg-top a span {
        font-size: 1rem;
        max-width: 215px;
    }
    
    .ftg-links > ul {
        width: 50%;
        margin-bottom: 20px;
    }
    
    .cta-wrp h1 {
        font-size: 2.5rem;
    }
    
    .download-wrp {
        text-align: left;
    }
    
    .download-wrp h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    
    .dt-wrp {
        flex-wrap: wrap;
    }
    
    .dt-blk:first-child {
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-right: none;
        margin-bottom: 60px;
        padding-bottom: 50px;
    }
    
    .dt-wrp img {
        max-width: 260px;
    }
    
    .dt-blk {
        padding: 0 2%;
    }
    
    .section-title h1 {
        font-size: 2.5rem;
        line-height: 1;
    }
    
    section.doctor-details {
        padding: 100px 0 70px 0;
    }
    
    section.support-example {
        padding: 100px 0;
        padding-bottom: 300px;
        background-size: 160%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: -20px;
    }
    .pd-wrp h1 {
        font-size: 2.2rem;
    }
    
    .theme-btn, a.theme-btn {
        padding: 14px 30px 15px;
        font-size: 1rem;
    }
    
    section.pricing-direction {
        padding: 5em 0;
    }
    
    .ys-blks {
        flex-wrap: wrap;
        margin-top: 50px;
    }
    
    .ys-blk:first-child {
        border-bottom: 1px solid rgba(0,0,0,.1);
        border-right: none;
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    
    .ys-blk h3 {
        font-size: 2rem;
    }
 
    div#exampleModal .modal-body { 
        width: 280px;
        height: 280px; 
        border: 10px solid #fff; 
    }
    div#exampleModal .modal-body p {
        font-size: 1em;
        line-height: 1;
        margin-bottom: 10px;
    }
    
    div#exampleModal .modal-body h2 {
        font-size: 1.3em;
    }
    
    div#exampleModal .modal-body form input {
        padding: 7px 10px;
        margin-bottom: 8px;
    }
    
    div#exampleModal .modal-body form button {
        padding: 10px;
    }
    
    div#exampleModal .modal-body form {
        max-width: 170px;
    }
    
    div#exampleModal button.btn-close {
        width: 40px;
        height: 40px;
        margin-bottom: -30px;
    }





 

    .guid-menu {
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .guid-menu li {
        padding: 0;
        padding: 14px;
        line-height: 18px;
        border-left: none;
        border-bottom: 1px solid #dcdcdc;
    }
    
    .guid-menu li.active { 
        
        border-left: 14px; 
        border-bottom: 4px solid #0af;
    }
    .first_guid_blk .guid-blk h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .first_guid_blk .guid-blk > ul {
        margin-top: 45px;
    }
    
    .first_guid_blk .guid-blk > ul li {
        margin-top: 20px;
    }
    
    .first_guid_blk .rightFixedImg {
        display: block;
        position: unset;
    }
    
    .first_guid_blk {
        padding-bottom: 30px;
    }
    
    .second_guid_blk {
        padding: 100px 0;
    }
    
    .second_guid_blk .guid-blk h1 {
        font-size: 2.5rem;
    }
    
    .guid-blk .steps {
        display: block;
        width: 100%;
    }
    
    .guid-blk .steps .step {
        max-width: 100%;
        padding: 0;
        width: 100%;
        display: flex;
    }
    .step svg {
        display: block;
        min-width: 35px;
        max-width: 35px;
        height: 35px;
        margin-bottom: 0;
        margin-right: 15px;
    }
    .guid-blk .steps .step:after {
        height: 55%;
        width: 1px;
        left: 15px;
        top: 40%;
    }
    div#last_step {
        margin-top: 0px;
    }
    .last_guid_blk .guid-blk h1 {
        font-size: 2rem; 
    }
    .fsteps {
        display: block;
        position: relative;
    }
    
    .fsteps .fstep {
        width: 100%;
        padding-left: 50px;
        position: relative;
    }
    
    .fsteps .fstep:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #0af;
        border-radius: 50%;
        top: 5px;
        left: 15px;
    }
    
    .fsteps:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 77%;
        top: 5px;
        left: 18px;
        background: #dcdcdc;
        z-index: -1;
    }
    .hero-wrp h4 {
        font-size: 2.5rem;
    }
    
    .hero-wrp h5 {
        font-size: 1.2rem;
    }
    
    .hero-wrp {
        top: 0;
    }
    
    section.hero > video {
        top: auto;
        bottom: 0;
        height: auto;
        min-width: 240%;
        left: -69%;
    }
    section.hero:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60%;
        background: linear-gradient(0deg,#ffffff29,white,white,white,white, white,white,white, #fff);
        top: 0;
        left: 0;
    }

    .header-left{
        display: none;
    }
    .container-fluid {
        padding: 0 15px;
    } 
    
    #actionMenu {
        text-align: left;
        position: relative;
        width: 100%;
    }
    
    ul#actionMenu li a {
        margin-left: 0;
        margin-right: 15px;
    }
    ul#actionMenu li:last-child{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-33%);
    }
    ul#actionMenu li .theme-btn{
        display: none;
    }
    .header-area.active { 
        padding: 20px 0;
    }
    .inMobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
    }
    
    .inMobile a.theLogo {
        display: block;
        max-width: 96px;
    }
    
    .inMobile a.theme-btn {
        padding: 10px 20px 10px;
    }
    .header-area.active {
        position: absolute;
        padding: 25px 0;
    }
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
